site_name: Zubair's Cloud Docs
site_url: https://www.zubaircloud.com

plugins:
  - search
  - social
  - tags

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences

theme:
  name: material
  features:
    - navigation.instant
    - navigation.instant.progress
    - navigation.instant.preview
    - navigation.tracking
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.sections
    - navigation.expand
    - navigation.path
    - navigation.top
    - search.suggest
    - search.highlight
    - search.share
    - content.code.copy
    - content.code.select

  palette:
    # Palette toggle for light mode
    - scheme: default
      toggle:
        icon: material/brightness-7 
        name: Switch to dark mode

    # Palette toggle for dark mode
    - scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to light mode


  nav:
    - Home: index.md
    - Intune: 
      - Autopilot 100 Troubleshooting: Intune/Autopilot 100 Troubleshooting.md
      - Autopilot V2: Intune/Autopilot V2.md
    - Automation:
      - Azure Automation Runbooks: Automation/Azure Automation Runbooks.md
      - Bulk Actions: Automation/Bulk Actions.md
    - Graph & Powershell:
      - Connecting to Graph & Intune: Graph & Powershell/Connecting to Graph & Intune.md
      - Useful Powershell Commands: Graph & Powershell/Useful Powershell Commands.md


    



  